@model IEnumerable<WebAppPMRC.ViewModels.NumeroDossierViewModel>

<h2 class="mb-5">Liste des numéros de dossier</h2>
<a asp-action="AddOrEdit" class="btn btn-custom mb-4 fs-5">New dossier</a>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Numéro de dossier</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NomPerson</td>
                <td>@item.DossierNumero</td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

